<h1>Pirate Info</h1>
<p>Pirate Name: <%=params[:pirate][:name]%></p>
<p>Pirate Weight: <%=params[:pirate][:weight]%></p>
<p>Pirate Height: <%=params[:pirate][:height]%></p>

<h1>Ship Info</h1>

<%params[:pirate][:ships].each_with_index do |ship, i|%>
<h2>Ship # <%=i+1%></h2>
<p>Ship Name: <%=ship[:name]%></p>
<p>Ship Type: <%=ship[:type]%></p>
<p>Ship Booty: <%=ship[:booty]%></p>
<% end %>
